-# frozen_string_literal: true
= simple_form_for(@reply) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :content
    = f.hidden_field :post_id, value: @post.id
    = f.hidden_field :user_id, value: current_user.id

  .form-actions
    = f.button :submit
