-# app/views/replies/_reply_profile.html.haml
-# Expected local: reply (an instance of Reply)

%div.reply-profile-card
  %div.related-post.post-card
    .post-content
      .post-header
        .post-title
          = link_to reply.post.title, post_id_slug_post_path(post_id: reply.post.id, slug: reply.post.slug),
                    data: { turbo_frame: "main_content", turbo_action: "advance" }
      .post-meta
        %span.post-author
          = link_to reply.post.user.profile.username, profile_path(reply.post.user.profile),
                    data: { turbo_frame: "main_content", turbo_action: "advance" }
        %span.post-date= reply.post.created_at.strftime("%B %d, %Y")
      .post-body
        = truncate(reply.post.content.to_plain_text, length: 150)
  %div.reply-details.post-card
    .post-content
      .post-header
        %h3 Your Reply
      .post-body
        = reply.content
      .post-footer
        .reply-meta
          %span.reply-time= time_ago_in_words(reply.created_at) + " ago"
          %span.actions
            = link_to 'Edit', edit_reply_path(reply), class: 'btn btn-sm btn-primary'
            \|
            = link_to 'Delete', reply_path(reply), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-sm btn-danger'
