= turbo_frame_tag "main_content" do
  .container.d-flex.justify-content-center.align-items-center
    .card.shadow.p-4.w-100{ style: "max-width: 400px;" }
      .card-body
        %h2.text-center.mb-4 Sign Up
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "needs-validation", novalidate: true }) do |f|
          = devise_error_messages!
          
          .mb-3
            = f.label :email, class: "form-label"
            = f.input :email, required: true, class: "form-control", placeholder: "Enter your email", label: false
          
          .mb-3
            = f.label :password, class: "form-label"
            = f.input :password, required: true, class: "form-control", placeholder: "Enter your password", label: false

          .mb-3
            = f.label :password_confirmation, class: "form-label"
            = f.input :password_confirmation, required: true, class: "form-control", placeholder: "Confirm your password", label: false

          .mb-3
            = f.fields_for :profile do |profile_form|
              = profile_form.label :username, class: "form-label"
              = profile_form.input :username, required: true, class: "form-control", placeholder: "Choose a username", label: false

          .d-grid
            = f.submit "Sign Up", class: "btn btn-primary btn-block"

        .text-center.mt-3
          = link_to "Already have an account? Log in", new_user_session_path, class: "text-decoration-none"
