- if user_signed_in?
  .nav-item.dropdown
    %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
      = current_user.profile.username.capitalize
    %ul.dropdown-menu.dropdown-menu-end
      %li= link_to "Profile", profile_path(current_user), class: "dropdown-item"
      %li= link_to "Sign Out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "dropdown-item"
- else
  %li.nav-item
    = link_to "Login", new_user_session_path, class: "nav-link", data: { turbo_frame: "main_content" }
  %li.nav-item
    = link_to "Sign Up", new_user_registration_path, class: "nav-link", data: { turbo_frame: "main_content" }
