- if cliq
  = cliq.name
-else
  No Cliq Sent
= simple_form_for post, html: { class: "cliq customform" } do |f|
  - if post.errors.any?
    .error-message
      = post.errors.full_messages.to_sentence.capitalize
  = f.input :title, input_html: { autofocus: true }
  = f.label :content, "Content"
  = f.text_field :content
  = f.hidden_field :user_id, value: current_user.id if user_signed_in?
  = f.hidden_field :cliq_id, value: cliq.id if cliq
  -# = link_to "Cancel", posts_path, class: "btn btn--light"
  = f.submit class: "btn btn--secondary"
