= turbo_frame_tag 'main_content' do
  %main.container
    = "Error" if @error
    = render "/cliqs/cliq", cliq:@cliq if @cliq
    .header
      %h1 New Post
    = turbo_frame_tag @post do
      = render partial: "form", locals: { post: @post, cliq: @cliq }