= turbo_frame_tag 'main_content' do
  .post-container
    .post-header
      %h1= @post.title
      %p.meta
        Posted by
        %strong= @post.user.username
        on
        = @post.created_at.strftime("%B %d, %Y")
    .post-content
      = simple_format(@post.content)
    - if current_user && current_user == @post.user
      .post-actions
        = link_to 'Edit', edit_post_path(@post.id), class: 'btn btn-primary'

  %h2 Replies
  = render 'replies/replies', replies: @replies

  - if user_signed_in?
    = render 'replies/form', post: @post, reply: Reply.new
