= turbo_frame_tag 'main_content' do
  .post-container
    .cliq-back
      =render "cliqs/cliq", cliq: @post.cliq
    .post-header
      %h1= @post.title
      %p.meta
        Posted by
        %strong= @post.user.username
        on
        = @post.created_at.strftime("%B %d, %Y")
    .post-content
      = @post.content
    - if current_user && current_user == @post.user
      .post-actions
        = link_to 'Edit', edit_post_path(@post.id), class: 'btn btn-primary'
      = turbo_frame_tag 'new_reply' do
        =render "replies/new_reply", post: @post
  %h2 Replies
  = render 'replies/replies', replies: @replies
