= turbo_frame_tag "main_content" do
  .container-fluid.layout-container
    .cliq-info-bar
      = render "cliq_breadcrumbs", cliq:@cliq
    .posts-info
      .categories
        = render "posts_header"
      .posts
        = render "posts"
      .pagination
        = render "pager", pagy: @pagy, cliq: @cliq
