%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    / Logo
    = render "/layouts/cliq_bar/cliq_brand"

    / Navigation links
    #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav.ms-auto
        - if user_signed_in?
          %li.nav-item
            = link_to "Profile", profile_path(current_user), class: "nav-link"
          %li.nav-item
            = button_to "Sign Out", destroy_user_session_path, method: :delete, data: { turbo: false }
        - else
          %li.nav-item
            = link_to "Login", new_user_session_path, class: "nav-link"
          %li.nav-item
            = link_to "Sign Up", new_user_registration_path, class: "nav-link"

    / Search form - Integrated into the navigation bar
    = form_with url: search_cliqs_path, method: :post, data: { controller: "search", action: "input->search#search" }, class: "d-flex" do
      = text_field_tag :query, params[:query], placeholder: "Search Cliqs...", autocomplete: "off", class: "form-control me-2", data: { action: "input->search#search" }
      = submit_tag "Search", class: "btn btn-outline-success"


      / This will hold the search results dynamically
      .search-results-container
        %div#search-results
